# Applicación
PORT=3000
NODE_ENV=development

# Base de Datos PostgreSQL Local
# Modifica la URL de acurdo a la configuración de tu instancia local
DATABASE_URL="postgresql://usuario:password@localhost:5432/yoga_test?schema=public"
